@import '../../../styles/sass/globals.scss';

.dataContainer{
    margin: 0 auto;
    .conditionContainer{
        margin-bottom: 16px;
        @include defaultFormat(
            $fontSize: $fontSizeXS,
            $textColor: $bgDarkGray
        );
    }

    .titleContainer{
        @include defaultFormat(
            $fontSize: $fontSizeL,
            $fontWeight: 700
        );
    }

    .amountContainer{
        @include setMargin-y($margin-y: 32px);
        @include defaultFormat(
            $fontSize: $fontSizeXXL,
            $fontWeight: 700
        );
    }
}