@use "../../styles/sass/variable/mediaQueries" as mediaQuery;
@import '../../styles/sass/globals.scss';

.divContainer{
    @include container();
    .itemDetailContainer{
        @include container();
        @include flexRow();
        background-color: white;
        border-radius: 4px;
        margin-bottom: 32px;
    
        .leftColumn{
            @include container-fluid();
            @include flexColumn($alingItems:flex-start);
            @include setWidth($width:60%);
            @include setPadding($padding: 32px);
        }
    
        .rightColumn{
            @include container-fluid();
            @include flexColumn($alingItems:flex-start);
            @include setWidth($width:40%);
            @include setPadding($padding: 32px);
            margin: 0 0 auto;
        }
    
        @media #{mediaQuery.$md} {
            @include container($height:100%);
            @include setWidth($md-px);
            @include flexColumn();
        }
    }   
}
