/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/SearchItem/SearchItem.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.SearchItem_itemsContainer__Ohcvq {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  max-width: 80vw;
  min-width: 80vw;
  width: 80vw;
  max-height: auto;
  min-height: auto;
  height: auto;
}
@media only screen and (max-width: 540px) {
  .SearchItem_itemsContainer__Ohcvq {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 540px;
    min-width: 540px;
    width: 540px;
  }
}
@media only screen and (max-width: 720px) {
  .SearchItem_itemsContainer__Ohcvq {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 720px;
    min-width: 720px;
    width: 720px;
  }
}
@media only screen and (max-width: 960px) {
  .SearchItem_itemsContainer__Ohcvq {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 960px;
    min-width: 960px;
    width: 960px;
  }
}
@media only screen and (max-width: 1140px) {
  .SearchItem_itemsContainer__Ohcvq {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1140px;
    min-width: 1140px;
    width: 1140px;
  }
}
@media only screen and (max-width: 1320px) {
  .SearchItem_itemsContainer__Ohcvq {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1320px;
    min-width: 1320px;
    width: 1320px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/SearchItem/ItemCards/ItemCard.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.ItemCard_itemCardContainer__YOS9t {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  gap: 0;
  background-color: white;
  border-radius: 4px;
}
.ItemCard_itemCardContainer__YOS9t .ItemCard_itemCard__F20_V {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  margin-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 0;
  border-bottom: 3px solid #eeeeee;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/SearchItem/ItemCards/ItemData/ItemData.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.ItemData_itemData__EMUwC {
  margin-top: 16px;
  max-width: 50%;
  min-width: 50%;
  width: 50%;
  max-height: auto;
  min-height: auto;
  height: auto;
}
.ItemData_itemData__EMUwC span {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: black;
  font-weight: normal;
  text-decoration: none;
  font-weight: normal;
}
.ItemData_itemData__EMUwC h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: normal;
  text-decoration: none;
  font-weight: normal;
  margin-top: 32px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/SearchItem/ItemCards/ItemImage/ItemImage.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.ItemImage_itemImg__J8ROl {
  max-width: 180px;
  min-width: 180px;
  width: 180px;
  max-height: 180px;
  min-height: 180px;
  height: 180px;
  margin-right: 16px;
  position: relative;
}
.ItemImage_itemImg__J8ROl .ItemImage_ImageStyle__67o7N {
  border: 0px;
  border-radius: 4px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/SearchItem/ItemCards/ItemLocation/ItemLocation.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.ItemLocation_itemLocation__WYbQc {
  margin: 0 auto;
}
.ItemLocation_itemLocation__WYbQc span {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #666666;
  font-weight: normal;
  text-decoration: none;
  font-weight: normal;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/SearchItem/ItemCategory/ItemCategory.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.ItemCategory_categoryContainer__bDaY3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  text-decoration: none;
  font-weight: normal;
}
.ItemCategory_categoryContainer__bDaY3 .ItemCategory_lastCategorySpan__kEciA {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  text-decoration: none;
  font-weight: normal;
}
