@use "../../../styles/sass/variable/mediaQueries" as mediaQuery;
@import '../../../styles/sass/globals.scss';

.itemDetailImgContainer{
    @include setDimension($width:680px, $height:680px);
    position: relative;
    .ImageStyle{
        border: 0px;
        border-radius: 4px;
    }
    @media #{mediaQuery.$xl} {
        @include setWidth($width: 80%);
        justify-content: center;
        .itemDetailImgContainer{
            @include setWidth($width: 80%);
        }
    }
}