@import '../../styles/sass/globals.scss';

.loadingContainer{
    @include container($height:80vh);
    @include flexColumn(
        $justifyContent:center,
        $alingItems:center,
    );

    h2{
        @include defaultFormat(
            $textColor: $bgDarkGray,
            $fontSize: $fontSizeXXL
        )
    }

}