@import '../../../styles/sass/globals.scss';

.descriptionStyle{
    @include setDimension($width: 50%, $height:auto);
    @include setWidth($width:90%);

    .descriptionTitleContainer{
        margin-top: 32px;
        span{
            @include defaultFormat($fontSize: $fontSizeXL);
        }
    }

    .descriptionContainer{
        p{
            @include defaultFormat(
                $fontSize: $fontSizeS,
                $textColor: $bgGray,
                );
            margin-top: 32px;
        }
    }
}