@import "../../../styles/sass/globals.scss";

.itemCardContainer{
    @include flexColumn();
    margin-bottom: 32px;
    background-color: white;
    border-radius: 4px;

    a {
        text-decoration: none;
        color: inherit;
    }
    
    .itemCard{
        @include setMargin(
            $margin:16px,
            $margin-b:0px
        );
        padding-bottom: 16px;
        @include flexRow($justifyContent: flex-start, $alingItems:center);
        border-bottom: 3px solid $bgLightGray;
    }
}