/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/Navbar/Navbar.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.Navbar_NavbarStyle__dC_74 {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  max-height: 10vh;
  min-height: 10vh;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 0;
  background-color: #ffe600;
}
@media only screen and (max-width: 540px) {
  .Navbar_NavbarStyle__dC_74 {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 540px;
    min-width: 540px;
    width: 540px;
  }
}
@media only screen and (max-width: 720px) {
  .Navbar_NavbarStyle__dC_74 {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 720px;
    min-width: 720px;
    width: 720px;
  }
}
@media only screen and (max-width: 960px) {
  .Navbar_NavbarStyle__dC_74 {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 960px;
    min-width: 960px;
    width: 960px;
  }
}
@media only screen and (max-width: 1140px) {
  .Navbar_NavbarStyle__dC_74 {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1140px;
    min-width: 1140px;
    width: 1140px;
  }
}
@media only screen and (max-width: 1320px) {
  .Navbar_NavbarStyle__dC_74 {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1320px;
    min-width: 1320px;
    width: 1320px;
  }
}
.Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  max-width: 80vw;
  min-width: 80vw;
  width: 80vw;
  max-height: auto;
  min-height: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 0;
}
@media only screen and (max-width: 540px) {
  .Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 540px;
    min-width: 540px;
    width: 540px;
  }
}
@media only screen and (max-width: 720px) {
  .Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 720px;
    min-width: 720px;
    width: 720px;
  }
}
@media only screen and (max-width: 960px) {
  .Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 960px;
    min-width: 960px;
    width: 960px;
  }
}
@media only screen and (max-width: 1140px) {
  .Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1140px;
    min-width: 1140px;
    width: 1140px;
  }
}
@media only screen and (max-width: 1320px) {
  .Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1320px;
    min-width: 1320px;
    width: 1320px;
  }
}
.Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM .Navbar_barStyle__C2d2M {
  position: relative;
}
.Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM .Navbar_LinkStyle__Hk6Rk {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  gap: 0;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px;
}
.Navbar_NavbarStyle__dC_74 .Navbar_contentContainer__7shGM .Navbar_LinkStyle__Hk6Rk img {
  max-height: 8vh;
  min-height: 8vh;
  height: 8vh;
  max-width: 8vh;
  min-width: 8vh;
  width: 8vh;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/Navbar/SearchBar/SearchBar.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.SearchBar_SearchBarStyle__RlSpA {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  max-height: auto;
  min-height: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 0;
}
@media only screen and (max-width: 540px) {
  .SearchBar_SearchBarStyle__RlSpA {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 540px;
    min-width: 540px;
    width: 540px;
  }
}
@media only screen and (max-width: 720px) {
  .SearchBar_SearchBarStyle__RlSpA {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 720px;
    min-width: 720px;
    width: 720px;
  }
}
@media only screen and (max-width: 960px) {
  .SearchBar_SearchBarStyle__RlSpA {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 960px;
    min-width: 960px;
    width: 960px;
  }
}
@media only screen and (max-width: 1140px) {
  .SearchBar_SearchBarStyle__RlSpA {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1140px;
    min-width: 1140px;
    width: 1140px;
  }
}
@media only screen and (max-width: 1320px) {
  .SearchBar_SearchBarStyle__RlSpA {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 1320px;
    min-width: 1320px;
    width: 1320px;
  }
}
.SearchBar_SearchBarStyle__RlSpA .SearchBar_inputStyle__XVhaB {
  max-height: 5vh;
  min-height: 5vh;
  height: 5vh;
  max-width: 60vw;
  min-width: 60vw;
  width: 60vw;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 4px 0 0 4px;
}
.SearchBar_SearchBarStyle__RlSpA .SearchBar_buttonStyle__ujIR4 {
  max-height: 5vh;
  min-height: 5vh;
  height: 5vh;
  max-width: 3vw;
  min-width: 3vw;
  width: 3vw;
  background-color: #eeeeee;
  border: none;
  border-radius: 0 4px 4px 0;
}
.SearchBar_SearchBarStyle__RlSpA .SearchBar_buttonStyle__ujIR4 .SearchBar_icoSize__DWCaA {
  max-height: 1.5rem;
  min-height: 1.5rem;
  height: 1.5rem;
  max-width: 2rem;
  min-width: 2rem;
  width: 2rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/layout.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.layout_bodyReset__S0AQk * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.layout_bodyReset__S0AQk body {
  min-height: 100vh;
  background: #eeeeee;
}
